:root{
    --background-box-color: gray;
    --background-client-box: darkgray;
    --color-name-client-box: white;
    --color-status-client-box: greenyellow;
    --color-chat-box-client: white;
    --background-chat-client-box: darkgray;
    --background-chat-my-box: green;
}

body.dark{
    --background-box-color: #fff;
    --background-client-box: gray;
    --color-name-client-box: white;
    --color-status-client-box: greenyellow;
    --color-chat-box-client:white;
    --background-chat-client-box: gray;
    --background-chat-my-box: darkgray;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chat-box{
    width: 700px;
    height: 700px;
    background-color: var(--background-box-color);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.client{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: var(--background-client-box);
    padding: 15px;
}

.client img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info {
    color: var(--color-name-client-box);
    padding: 15px;
}

.client-info p{
    color: var(--color-status-client-box);
    font-weight: bold;
    font-size: 0.8em;
}

.chats{
    width: 100%;
    padding: 0 15px;
    color: var(--color-chat-box-client);
    position: relative;
    font-size: 0.9em;
}

.client-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: var(--background-chat-client-box);
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: var(--background-chat-my-box);
    padding: 7px 10px;
    border-radius: 10px 10px 0px 10px;
    margin: 5px 0 5px auto;
}

.chat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 115px;
    background-color: var(--background-box-color);
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  
  .response-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .response-options .btnop {
    background-color: rgb(236, 233, 233);
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .chat-input input {
    flex: 1;
    flex-shrink: 1;
    height: 100%;
    background-color: lightgray;
    border-radius: 50px;
    color: black;
    font-size: 1.2em;
    padding: 0 15px;
    outline: none;
    border: none;
  }
  
  .chat-input input::placeholder {
    font-size: 15px;
  }
  
  .send-btn {
    width: 40px;
    height: 40px;
    background-color: rgb(236, 233, 233);
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border: none;
    border-radius: 50%;
  }
  
  .send-btn:active {
    transform: scale(0.05);
  }